<!-- Cadastro Section -->
<section class="success" id="cadastro">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Cadastro</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <form name="formCreateLogin">
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label for="nome">Nome</label>
                            <input type="nome" class="form-control" name="nome" value="" placeholder="Insira seu nome" ng-model="createModel.Nome" required/>
                            <div ng-messages="formCreateLogin.nome.$dirty && formCreateLogin.nome.$error">
                                <div ng-messages-include="../html-templates/message-boxes/error-msgs.html"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" placeholder="Insira seu e-mail" ng-model="createModel.Email" required/>
                            <div ng-messages="formCreateLogin.email.$dirty && formCreateLogin.email.$error">
                                <div ng-messages-include="../html-templates/message-boxes/error-msgs.html"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label for="password">Senha:</label>
                            <input type="password" class="form-control" name="password" value="" placeholder="Insira sua senha" ng-model="createModel.Senha" ng-minlength="3" ng-maxlength="12" required/>
                            <div ng-messages="formCreateLogin.password.$dirty && formCreateLogin.password.$error">
                                <div ng-messages-include="../html-templates/message-boxes/error-msgs.html"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label for="confirmpassword">Confirmar Senha:</label>
                            <input type="password" class="form-control" name="confirm_password" value="" placeholder="Confirme sua senha" ng-model="createModel.ConfirmarSenha" compare="createModel.Senha" required/>
                            <div ng-messages="formCreateLogin.confirm_password.$dirty && formCreateLogin.confirm_password.$error">
                                <div ng-messages-include="../html-templates/message-boxes/error-msgs.html"></div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="alert alert-danger  col-sm-12" role="alert" ng-show="erro">
                        <strong>Algo deu errado!</strong><br/>{{errorMsg}}
                    </div>

                    <div class="alert alert-success  col-sm-12" role="alert" ng-show="success">
                        <strong>Usuário Cadastrado!</strong><br/>Usuário Cadastrado com sucesso
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-success btn-lg" ng-click="formCreateLogin.$valid && createUsuario(createModel) "> Fazer Cadastro</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>